</br></br></br></br></br></br>
<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>Login</strong></h2>
          <div class="line">
            <hr>
          </div>
        </div>



        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>


        <div class="form-group">
          <label>Username</label>
          <%= f.text_field :email,:class=>"form-control",:class=>"form-control", :placeholder=>"Enter Username" %>
        </div>


        <div class="form-group">
          <label>Password</label>
          <%= f.password_field :password,:class=>"form-control",autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <table>
            <tr>
              <td><%= f.check_box :remember_me %></td>
              <td>  <%= f.label :remember_me %></td>

            </tr>
          </table>


        </div>
        <% end -%>


        <%= f.submit "Log in", :class=>"btn tf-btn btn-default sbtn"%>
        <% end %>
        <%= render "members/shared/links" %>
      </div>

    </div>
  </div>

</div>
</div>

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
