<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %><br />
         <%= f.text_field :username, autofocus: true %>
  </div>

  <div>
    <%= f.label :gender_male, 'Male' %><%= f.radio_button :is_female, 'false', :checked => true %>
  </div>
  <div>
     <%= f.label :gender_female, 'Female' %><%= f.radio_button :is_female, 'true' %>
 </div>
 
   <div><%= f.label :date_of_birth %><br />
       <%= f.date_select :date_of_birth %>
     </div>

     <div class="field">
       <%= f.label :email %><br />
       <%= f.email_field :email, autofocus: true %>
     </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div><%= f.label :mobaile %><br />
         <%= f.text_field :mobaile, autofocus: true %>
  </div>

  <div><%= f.label :address %><br />
         <%= f.text_area :address :rows => 10, :cols => 25 %>
  </div>


  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
