<h2>Register</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div><%= f.label :username %><br />
<%= f.text_field :username %></div>

<!-- <div><%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %> </div>
 <div><%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male" %> </div> -->
 <div>
   <%= f.label :gender_male, 'Male' %><%= f.radio_button :is_female, 'false', :checked => true %>
 </div>
 <div>
    <%= f.label :gender_female, 'Female' %><%= f.radio_button :is_female, 'true' %>
</div>

  <div><%= f.label :date_of_birth %><br />
   <%= f.date_select :date_of_birth %>
    </div>

<div><%= f.label :email %><br />
<%= f.email_field :email %></div>

<div><%= f.label :password %><br />
<%= f.password_field :password %></div>

<div><%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %></div>

<div><%= f.label :mobaile %><br />
       <%= f.text_field :mobaile, autofocus: true %>
</div>

<div><%= f.label :address %><br />
       <%= f.text_area :address %>
</div>



<div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
