
<br><br>
<br><br>
<br><br>


<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>Edit profile <%= resource_name.to_s.humanize %></strong></h2>
          <div class="line">
            <hr>
          </div>
          <div class="clearfix"></div>
          <small><em></em></small>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :username,:class=>"form-control",:class=>"form-control", :placeholder=>"Enter Name" %>
        </div>


        <div class="form-group">
          <table>
              <tr>
                <td ><label>Gender</label></td>
              </tr>
              <tr>
                <td><label>Male</label><%= f.radio_button :gender, 'false', :checked => true %></div></td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td><label>Female</label><%= f.radio_button :gender, 'true' %></td>
              </tr>
          </table>
        </div>

        <div class="form-group">
          <label>Address</label>
          <%= f.text_area :address,rows: 7, cols: 40,:class=>"form-control" %>
        </div>

        <div class="form-group">
          <label>Mobile</label>
          <%= f.text_field :mobaile, autofocus: true,:class=>"form-control" %>
        </div>

        <div class="form-group">
          <table>
              <tr>
                <td><label>Date of Birth</label></td>
              </tr>
              <tr>
                <td><%= f.date_select :date_of_birth,:start_year=>1980,:end_year=>2017 %></td>
              </tr>
          </table>
        </div>

        <div class="form-group">
          <label>Email</label>
          <%= f.email_field :email,:class=>"form-control" %>
        </div>

        <div class="form-group">
          <label>Password</label><i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password,:class=>"form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <label>Confirm password</label>
          <%= f.password_field :password_confirmation,:class=>"form-control" %>
        </div>


        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, :class=>"form-control" %>
        </div>



        <%= f.submit "Update", :class=>"btn tf-btn btn-default sbtn"	%>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,:class=>"btn tf-btn btn-default sbtn" %></p>
<%= link_to "Back", :back %>
      </div>

    </div>
  </div>

</div>
</div>

<br/><br/>
