

<br><br>
<br><br>
<br><br>

<br/><br/>

<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>Change your password</strong></h2>
          <div class="line">
            <hr>
          </div>
          <div class="clearfix"></div>
          <small><em></em></small>
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>


          <div class="form-group">
              <label>New password</label>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off",:class=>"form-control" %>
          </div>


          <div class="form-group">
            <label>Password Confirmation</label>
            <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control" %>
          </div>

        <div class="form-group">
          <%= f.submit "Change My Password", :class=>"btn tf-btn btn-default sbtn" %>
        </div>
        <% end %>
        <%= render "members/shared/links" %>

      </div>

    </div>
  </div>

</div>
</div>

<br/><br/>
<br/><br/>
<br/><br/>
<br/>
