
<br><br>
<br><br>
<br><br>

<br/><br/>

<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>Forgot your password?</strong></h2>
          <div class="line">
            <hr>
          </div>
          <div class="clearfix"></div>
          <small><em></em></small>
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <label>Email</label>
            <%= f.email_field :email,:class=>"form-control" ,:placeholder=>"Enter email"%>
          </div>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions", :class=>"btn tf-btn btn-default sbtn" %>
        </div>
        <% end %>
        <%= render "members/shared/links" %>

      </div>

    </div>
  </div>

</div>
</div>

<br/><br/>
<br/><br/>
<br/><br/>
<br/>

<br/><br/>
<br>
