
  </br></br></br>
  <% if member_signed_in?%>
    <div id="tf-contact" class="text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">

                  <div class="section-title center">
                      <h2>welcome <strong><%= current_member.username %>.</strong></h2>
                      <div class="line">
                          <hr>
                      </div>
                  </div>



                        <div class="col-md-8 col-md-offset-2">

                          <div>
                          </div>

                          <div class="form-group">
                             <%= text_field_tag :search, params[:search] , :placeholder=>"Enter Name",:class=>"form-control" %>
                          </div>
                          <br/>


                        </div>
                      </div>
                      <div id="sidebar_builder" class="map"></div>

                      <div id="memberlist"><%= render 'member'%></div>
              </div>
          </div>
  </div>
<%else%>
</br></br></br></br></br>
  <div id="tf-contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title center">
                    <h2>Please <strong><%= link_to "Login", new_member_session_path, :class => 'page-scroll'  %> into System.</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<% end %>
