



<!-- Home Page
==========================================-->



<div id="tf-home" class="text-center">
  <div class="overlay">
    <div class="content">
      <% if member_signed_in?%>
        <h1>Logged in as <strong><%= current_member.email %></strong>
        <br/><br/>Welcome on <strong><span class="color">Cemetery</span></strong></h1>
        <p class="lead">We are a digital agency with <strong>years of experience</strong> and with <strong>extraordinary people</strong></p>
        <!-- <a href="#tf-about" class="fa fa-angle-down page-scroll"></a> -->
        <%else%>
        <h1>Welcome on <strong><span class="color">Cemetery</span></strong></h1>
        <p class="lead">We are a digital agency with <strong>years of experience</strong> and with <strong>extraordinary people</strong></p>
        <br/>click hear for<strong><span class="color"><%= link_to " Search", searchhome_path, :class => 'page-scroll'  %></span></strong></h1>
        <%end%>
      </div>
    </div>
  </div>
