<br><br>
<br><br>
<br><br>


<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>Search</strong></h2>
            <div class="line">
              <hr>
            </div>
          <div class="clearfix">

          </div>
        </div>

        <div class="form-group">

           <%= text_field_tag :search, params[:search] , :placeholder=>"Enter Name",:class=>"form-control" %>

        </div>
        <br/>


      </div>
    </div>
    <div id="sidebar_builder" class="map"></div>
  </div>
</div>
</div>

<div id="memberlist"><%= render 'member'%></div>


<script>
$(document).ready(function(){
  $('#search').keyup(function(){
    var text=this.value;

    $.get("searchhome", function(data){
            //alert("Data: " + text );
            if(text)
            {
              $.ajax({
                  type: "get",
                  url: "/searchhome",
                  dataType: 'script',
                  data: {"data" : text.toLowerCase()}
              });

            }
        });
  });
});
</script>
