

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'sidebar_builder'}}, function(){

  markers = handler.addMarkers(<%=raw @hash.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<br/>
<br/>
