<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
  }
</style>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<style>
  #locationField, #controls {
    position: relative;
    width: 480px;
  }
  #autocomplete {
    width: 50%;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  #address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
  }
  #address td {
    font-size: 10pt;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  #locationField {
    height: 20px;
    margin-bottom: 2px;
  }
</style>
<div id="locationField">

<h2>Edit Details</h2>

<%= form_for @heir, :url =>{:controller=>"details",:action => "Update",:id=>@heir} do |f| %>
<%= render 'error_messages', object: f.object %>

<div><%= f.label :name %><br/>
<%= f.text_field :name %></div>

    <div><%= f.label :address %><br/>
           <%= f.text_field :address, placeholder:'Enter Address',id:'autocomplete' %>
    </div>


<div><%= f.label :dob %><br />
 <%= f.date_select :dob %>
</div>

  <div><%= f.label :dob %><br />
   <%= f.date_select :dod %>
  </div>

  <%= f.hidden_field :lan %>
  <%= f.hidden_field :lng %>

</br>
<div><%= f.submit "Update" %></div>
<% end %>
</div>

<script>

  var placeSearch, autocomplete;

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});
    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }
  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    $("#heir_lan").val(place.geometry.location.lat()); //val assign in
    $("#heir_lng").val(place.geometry.location.lng());
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATVd5qobu6xDAorZtWJD1UMIPelda_e9Q&libraries=places&callback=initAutocomplete"
    async defer>
</script>
