
<br/><br/>
<br/><br/>
<br/><br/>

<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>Search</strong></h2>
          <div class="line">
            <hr>
          </div>
          <div class="clearfix">

          </div>
        </div>

        <div class="form-group">
          <%= search_form_for @search, url: search_details_path, method: :post do |f| %>
          <table>
            <tr>
              <td class="tdser">  <%= f.text_field :name_cont, :placeholder=>"Enter Name",:class=>"form-control" %><td>
                <td>&nbsp&nbsp&nbsp</td>
                <td>  <%= f.submit "Search",:class=>"btn tf-btn btn-default sbtnser" %> <td>
                </tr>
              </table>
              <% end %>

            </div>
            <br/>


          </div>
        </div>
        <div id="sidebar_builder" class="map"></div>
      </div>
    </div>
  </div>

  <br/><br/>


  <script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'sidebar_builder'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  </script>
