</br></br></br></br></br></br>



<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>Details</strong></h2>
          <div class="line">
            <hr>
          </div>
          <div class="clearfix"></div>
          <small><em></em></small>
        </div>

        <%= form_for @heir, :url =>{:controller=>"details",:action => "create"} do |f| %>
          <%= render 'error_messages', object: f.object %>


        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name,:class=>"form-control", :placeholder=>"Enter Name" %>

        </div>

        <div class="form-group">
          <table>
              <tr>
                <td><label>Address</label><%= f.hidden_field :address %></td>
              </tr>
          </table>
              <div id="sidebar_build" class="map"></div>
          <br/>


        <div class="form-group">
          <table>
              <tr>
                <td><label>Date of Birth</label></td>
              </tr>
              <tr>
                <td><%= f.date_select :dob,:start_year=>1980,:end_year=>2017 %></td>
              </tr>
          </table>
        </div>


        <div class="form-group">
          <table>
              <tr>
                <td><label>Date of Death</label></td>
              </tr>
              <tr>
                <td><%= f.date_select :dod,:start_year=>1980,:end_year=>2017 %></td>
              </tr>
          </table>
        </div>

        <%= f.hidden_field :member_id, :value => current_member.id %>
        <%= f.hidden_field :lan %>
        <%= f.hidden_field :lng %>


        <%= f.submit "Submit", :class=>"btn tf-btn btn-default sbtn"%>
        <% end %>
      </div>

    </div>
  </div>

</div>
</div>

<script>


</script>
<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtPc7P3WE-qisP-f-tSiGZJO__iD6Pw8&callback=initialize">
</script>


    <br/>  <br/>
