
<br/><br/>
<br/><br/>
<br/><br/>

<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2><strong>View List</strong></h2>
          <div class="line">
            <hr>
          </div>
          <div class="clearfix"></div>
          <small><em></em></small>
        </div>

        <div>


            <table class="table">
               <tr>

                  <th>Id</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>DOB</th>
                  <th>DOD</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <!-- <th>Edit</th> -->
                  <th>Delete</th>

              </tr>

              <% @data.each do |hr| %>
              <tr>
                <td><%= hr.id %></td>
                <td><%= hr.name %></td>
                <td><%= hr.address %></td>
                <td><%= hr.dob.strftime("%B %e, %Y") %></td>
                <td><%= hr.dod.strftime("%B %e, %Y") %></td>
                <td><%= hr.lan %></td>
                <td><%= hr.lng %></td>
                <!-- <td><%= link_to 'Edit', edit_path(:id=>hr.id) %></td> -->
                <td><%= link_to "Delete", {:action => 'Delete', :id => hr.id},:confirm => "Are you sure you want to delete?" %></td>

             </tr>
           <% end %>

          </table>
      <%= will_paginate @data %>

      <table class="exam">
         <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>DOB</th>
            <th>DOD</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <!-- <th>Edit</th> -->
            <th>Delete</th>

        </tr>

        <% @data.each do |hr| %>
        <tr>
          <td><%= hr.id %></td>
          <td><%= hr.name %></td>
          <td><%= hr.address %></td>
          <td><%= hr.dob.strftime("%B %e, %Y") %></td>
          <td><%= hr.dod.strftime("%B %e, %Y") %></td>
          <td><%= hr.lan %></td>
          <td><%= hr.lng %></td>
          <!-- <td><%= link_to 'Edit', edit_path(:id=>hr.id) %></td> -->
          <td><%= link_to "Delete", {:action => 'Delete', :id => hr.id},:confirm => "Are you sure you want to delete?" %></td>

       </tr>
     <% end %>

    </table>




      </div>

    </div>
  </div>

</div>
</div>

<br/><br/>
