<!-- Navigation
==========================================-->
<nav id="tf-menun" class="navbar navbar-default navbar-fixed-top manubar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if member_signed_in? %>
        <%= link_to "CEMETERY", dashboard_path,:class =>"navbar-brand wh" %>
      <% else %>
        <%= link_to "CEMETERY", root_path,:class =>"navbar-brand wh" %>
      <% end%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

  <!-- <li><a href="#"><i class="fa fa-home"></i></a></li> -->
        <% if member_signed_in? %>
          <!-- <li>Logged in as <strong><%= current_member.email %></strong></li> -->

          <li><%= link_to dashboard_path, :class => 'page-scroll' do %><i class="fa fa-home"></i> <% end -%></li>
          <li><%= link_to 'Add New Data',cemetoryform_path, :class => 'page-scroll','data-no-turbolink' => true %> </li>
          <li><%= link_to 'View List',list_path, :class => 'page-scroll' %></li>
          <li><%= link_to "Search", indexsearch_path, :class => 'page-scroll'  %> </li>
          <!-- <li><%= link_to "Real Time Search", searchajax_path, :class => 'page-scroll'  %></li> -->
          <li><%= link_to 'Edit profile', edit_member_registration_path, :class => 'page-scroll' %></li>
          <li><%= link_to "Logout", destroy_member_session_path, method: :delete, :class => 'page-scroll'%></li>
        <% else %>
          <!-- <li><%= link_to "Home", root_path,:class =>"page-scroll" %><li> -->
          <li><%= link_to "Search", searchhome_path, :class => 'page-scroll'  %></li>
          <li><%= link_to "About us", about_path,:class =>"page-scroll" %><li>
          <li><%= link_to "Contact us", contact_path,:class =>"page-scroll" %><li>

        <li><%= link_to "Sign up", new_member_registration_path, :class => 'page-scroll'  %> </li>
        <li><%= link_to "Login", new_member_session_path, :class => 'page-scroll'  %></li>
        <% end %>

         <%#= link_to 'Sign In with Github', "https://github.com/login/oauth/authorize?client_id=e88c005e5227b6f40960"  %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
