<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDWtPc7P3WE-qisP-f-tSiGZJO__iD6Pw8"></script>
    <script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <title>Cemetery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'bootstrap' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->


  </head>

  <body>

    <%= render '/layouts/menu'%>

      <!-- <% if member_signed_in? %>
        Logged in as <strong><%= current_member.email %></strong>. |
        <%= link_to "Search", indexsearch_path, :class => 'navbar-link'  %> |
        <%= link_to "Search_Ajax", searchajax_path, :class => 'navbar-link'  %>
        |
        <%= link_to 'Home',dashboard_path, :class => 'navbar-link' %> |
        <%= link_to 'Add New Data',cemetoryform_path, :class => 'navbar-link' %> |
        <%= link_to 'View List',list_path, :class => 'navbar-link' %>
         |
        <%= link_to 'Edit profile', edit_member_registration_path, :class => 'navbar-link' %> |

        <%= link_to "Logout", destroy_member_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>


        <%= link_to "Sign up", new_member_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_member_session_path, :class => 'navbar-link'  %>
      <% end %> -->

       <%#= link_to 'Sign In with Github', "https://github.com/login/oauth/authorize?client_id=e88c005e5227b6f40960"  %>

  <%= yield %>
   <%= render '/layouts/footer' %>

   </body>
</html>
